.room h1 {
    color: #4F6EB8;
}

.headline {
    display: flex;
    width: 20rem;
    
}
.headline h1 {
    align-self: center;
}
.home-icon
{
    align-self: center;
    margin-right: 2rem;
}
.home-icon:hover
{
    cursor: pointer;
    color: #9BB8D7;
}